reset()
  html, 
  body, div, span, applet, object, iframe, 
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
  abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline

  article, 
  aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section
    display block

  body
    line-height 1

  ol, 
  ul
    list-style none

  blockquote, 
  q
    quotes none

  blockquote:before, 
  blockquote:after
  q:before, q:after
    content ''
    content none

  table
    border-collapse collapse
    border-spacing 0

transition(properties, duration, ease)
  -moz-transition-property properties
  -webkit-transition-property properties
  -o-transition-property properties
  transition-property properties
  -moz-transition-duration duration
  -webkit-transition-duration duration
  -o-transition-duration duration
  transition-duration duration
  -moz-transition-timing-function ease
  -webkit-transition-timing-function ease
  -o-transition-timing-function ease
  transition-timing-function ease

round(radius)
  -moz-border-radius radius
  -webkit-border-radius radius
  -o-border-radius radius
  border-radius radius

shadow(color, x, y, spread)
  -moz-box-shadow color x y spread
  -webkit-box-shadow color x y spread
  -o-box-shadow color x y spread
  box-shadow color x y spread

reset()

.presentation
  
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  
  color #404040
  background #fafafa
  display block
  position: relative
  
  body
    
    display block
    position fixed
    top 0
    left 0
    bottom 0
    right 0

    > ol
      
      display block
      position absolute

      top 0
      left 0

      transition left 0.5s ease-in-out

      > li
      
        display block
        position relative
        float left

        > .inner
        
          display block
          position relative
          padding 40px

          margin 20px
          round 4px
          shadow rgba(0, 0, 0, 0.5) 0px 1px 4px
          background #fff

body > ol > li
  
  &.centered
    text-align center

  a
    color #6600ff
    text-decoration none

    &:hover
      color #ff9900

  p,
  span,
  h1, h2, h3, h4, h5
    margin-bottom 20px

  
  p,
  span,
  li
    font-size 36px
    font-weight 400
    line-height 42px

  h1
    font-weight 800
    font-size 72px
    
  h2
    font-weight 600
    font-size 58px

  h3
    font-weight 500
    font-size 44px

  ol
    display inline-block
    list-style decimal inside
  ul
    display inline-block
    list-style disc inside

    li
      display list-item
      margin-bottom: 10px

    ul
      list-style circle inside

        ul
          list-style square inside
    
body > nav

  display block
  position fixed
  bottom 0px
  left 0px

  opacity 0

  transition opacity 0.5s ease-in-out

  &:hover
    opacity 1

  > ol
    display block
    position relative

    > li
      display block
      position relative
      margin 10px
      float left
      background #909090

      round 6px

      &:hover
        background #404040

      > a
        display block
        position relative

        padding 10px 20px
        font-size 14px
        font-weight bold
        color #cccccc

        cursor pointer

